#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal {
    /* Center the modal vertically */
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position: absolute; /* Or 'fixed' depending on your layout needs */
  width: 80%;        /* Example width, adjust as needed */
  height: 45%;       /* Ensure initial height is also a percentage */
  top: 10%;          /* Example top margin */
  bottom: 10%;       /* Example bottom margin */
  left: 10%;          /* Example left margin */
  right: 10%;         /* Example right margin */
  aspect-ratio: 1 / 1; /* This makes it a square, width will be equal to height (limited by the smaller of the two) */
  max-width: 90%;     /* Optional: Set a maximum width */
  max-height: 90vh;    /* Optional: Set a maximum height */
  margin: auto;      /* Optional: To further center if using a fixed width/height and absolute positioning */
};